.dog_image{
    
    margin-top: 82px;
width: 100%;
height: 454px;
overflow: hidden;



}
.dog_details_image{

width: 100%;
height: 454px;
object-fit: fill;

}
.dog_image1{
    
   
width: 100%;
height: 454px;
overflow: hidden;



}



@media (max-width: 1000px){




    .dog_image{
        
        top: 82px;
    width: 100%;
    height: 354px;
    
    
    
    }
    .dog_details_image{
    
    width: 100%;
    height: 354px;
    
    }

    .dog_image1{
    
   
        width: 100%;
        height: 354px;
        overflow: hidden;
        
        
        
        }



    
}


@media (max-width:600px) {
    .dog_image{
       
    width: 100%;
    height: 204px;
    
    
    
    }
    .dog_details_image{
    
    width: 100%;
    height: 204px;
    object-fit: fill;
    
    }
    .dog_image1{
    
   
        width: 100%;
        height: 204px;
        overflow: hidden;
        
        
        
        }
    
}